.header {
    grid-area: h;
    background-color: tomato;
}

.header img {
    width: 100px;
}

.loginBlock {
    float: right;
    margin: 10px 10px 0 0;
}

.loginLink {
    text-decoration: none;
    color: #ffffff;
}